# Entorno virtual
.venv/
venv/
env/
ENV/

# Archivos de entorno (¡importante!)
.env

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
app.py.bak 
app.py.bak2
aplicación.py.bak
aplicación.py.bak2

# Base de datos
database.db
*.db
*.sqlite3
database_backup.db

# Archivos de logs
*.log

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Carpetas de editores
.vscode/
.idea/

