{% extends "base.html" %}
{% set hide_search = true %}
{% block title %}Mis pedidos | MiniAmazon{% endblock %}

{% block content %}

<h2 class="section-title">📦 Tus pedidos</h2>

{% if orders %}

<div class="orders-list">

    {% for order in orders %}
    <div class="order-card">

        <div class="order-header">
            <div>
                <strong>Pedido #{{ order.id }}</strong><br>
                <span>Fecha: {{ order.created_at }}</span>
            </div>

            <div>
                <strong>Total</strong><br>
                ${{ order.total }}
            </div>

            <div>
                <strong>Estado</strong><br>
                {{ order.status }}
            </div>

            <div>
                <a href="{{ url_for('order_detail', order_id=order.id) }}" class="btn-outline">
                    Ver pedido
                </a>
            </div>
        </div>

    </div>
    {% endfor %}

</div>

{% else %}
<p style="text-align:center;">Aún no has realizado pedidos 😢</p>
{% endif %}

{% endblock %}
