{% extends "base.html" %}
{% block title %}Panel del vendedor{% endblock %}

{% block content %}

<h4>Panel del vendedor</h4>

<div class="seller-dashboard">

    <a href="/seller/products" class="dashboard-card">
        📦
        <span>Mis productos</span>
    </a>

    <a href="/add_product" class="dashboard-card">
        ➕
        <span>Agregar producto</span>
    </a>

    <a href="/seller/orders" class="dashboard-card">
        🧾
        <span>Pedidos recibidos</span>
    </a>

     <a href="/seller/dashboard" class="dashboard-card">
        📊
        <span>Dashboard</span>
    </a>
    <a href="/logout" class="dashboard-card danger">
        🚪
        <span>Cerrar sesión</span>
    </a>

</div>

{% endblock %}
